@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>產品管理 @ViewBag.whereAmi</h2>

<p>
    @Html.ActionLink("新增資料", "Create")
</p>
<table class="table table-striped table-hover ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.Raw(item.Active)
            @*@Html.DisplayFor(modelItem => item.Active)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProductId })|
            @Ajax.ActionLink("Details(Ajax)", "Details", new { id = item.ProductId }, new AjaxOptions { UpdateTargetId = "modal-dialog-content", OnSuccess = "finish" })|
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })|
            @Ajax.ActionLink("Delete(Ajax)", "Delete", new { id = item.ProductId }, new AjaxOptions { UpdateTargetId = "modal-dialog-content", OnSuccess = "finish" })
        </td>
    </tr>
}
    
</table>

@Html.PagedListPager(Model as IPagedList, p => Url.Action("Index", new { pageNo = p }))

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>

        function finish() {
            $('#modal-dialog').modal('show');
        }
    </script>
}